
.sliderStyles {
    position: relative;
    height: 100%;
    background-color: rgb(61, 158, 248);
    grid-area: m;
    display: flex;
    flex-direction: column;
}

.arrLogos {
    width: 800px;
    height: 760px;
    border-radius: 5%;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
}

.leftArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 570px;
    font-Size: 45px;
    color: rgb(61, 158, 248);
    z-Index: 1;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 570px;
    font-Size: 45px;
    color: rgb(61, 158, 248);
    z-Index: 1;
    cursor: pointer;
}

.dotsContainerStyles {
    display: flex;
    justify-content: center;
}

.dotStyle {
    margin: 0 3px;
    cursor: pointer;
    font-Size: 20px;
}